.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 3rem;
}

.category-primaryHeading {
  font-size: 42px;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}
